<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Default">
            <file>tests/FilesystemAdapterTest/FilesystemAdapterTest.php</file>
            <file>tests/FilesystemCacheTest/FilesystemCacheTest.php</file>
            <file>tests/BasicUsageTest/BasicUsageTest.php</file>
            <file>tests/ResolveTest/ResolveTest.php</file>
            <file>tests/CacheIntegrationTest/CacheIntegrationTest.php</file>
            <file>tests/NotFoundActionTest/NotFoundActionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>